@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Montserrat:wght@500&family=Poppins:wght@300;500;700&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}
.nav-1{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.nav-1>i{
    display: none;
}

.nav-1 > div:nth-child(3){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}
.nav-1 > div:nth-child(3)>a>i{
    font-size: 35px;
    cursor: pointer;
    opacity: 0.3;
}
.nav-1 > div:nth-child(4){
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}
.nav-1 > div:nth-child(4)>a:nth-child(1){
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}
.nav-1 > div:nth-child(4)>a:nth-child(2){
    background-color: #35619F;
    padding: 5px;
    width: 90px;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.nav-1 > div:nth-child(4)>a:nth-child(3){
    background-color: #555555;
    padding: 5px;
    width: 70px;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.nav-1 > div:nth-child(4)>a:nth-child(4){
    border-left: 1px solid;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

.nav-2{
    width: 100%;
    background-color: #2BB673;
    /* display: flex;
    justify-content: center; */
}
.nav-2>i{
    display: none;
}
.nav-2>ul{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.nav-2>ul>li{
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
    height: 100%;
    padding: 10px;
}
.nav-2>ul>li>a{
    text-decoration: none;
    color: white;
}
.nav-2>ul>li:hover{
    background-color: #229760;
}

.slide-show{
    width: 70%;
    margin: auto;
}
.slide-show> div:nth-child(1){
    width: 90%;
    padding: 10px;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.slide-show> div:nth-child(1)>.slider{
    width: 100%;
    background-color: #2BB673;
    position: relative;
}
.slide-show> div:nth-child(1)>.slider>#images{
    width: 100%;
    display: flex;
}
.slide-show> div:nth-child(1)>.slider>#images>#img1{
    width: 60%;
}
.slide-show> div:nth-child(1)>.slider>#images>#img2{
    width: 40%;
}

.slide-show> div:nth-child(1)>.slider>#disc{
    background-color: white;
    color: black;
    width: 7%;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 15px;
    opacity: 0.8;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.slide-show> div:nth-child(1)>.slider>#text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    color: white;
    bottom: 0px;
    padding: 4px;
    text-align: center;
}
.slide-show> div:nth-child(1)>.static{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.slide-show> div:nth-child(1)>.static>img{
    width: 15%;
}

/* building news and video section */

.news-video{
    width: 78%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}

.news-video>.content{
    display: flex;
    justify-content: space-between;
}
.news-video>.content>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.news-video>.content>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.news-video>.content>ul>li{
    list-style-type: none;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}
.news-video>.content>ul>li:hover{
    text-decoration: underline;
}
.news-video >.img-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 3px;
}
.news-video >.img-box>div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    font-size: 13px;
    margin-top: 3px;
}
.news-video >.img-box>div>img{
    width: 200px;
    height: 200px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.news-video >.img-box>div>p{
    width: 90%;
    font-size: 12px;
    color: #666666;
}

section{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section >.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 60px;
}
section >.content>div{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section >.content>div>img{
    width: 300px;
}
section>.boxes{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: auto;
    margin-top: 40px;
}
section>.boxes>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 230px;
}
section>.boxes>div>img{
    width: 140px;
    height: 100px;
}
section>.boxes>div>p{
    font-size: 14px;
}


section >.content-2{
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

section >.content-2>div{
    width: 50%;
    background-color: #F53838;
    margin: auto;
    padding: 20px;
    margin-top: 60px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

section >.content-2>div>h1{
    color: white;
    font-size: 35px;
}
section >.content-2>div>p{
    color: white;
    margin-top: 6px;
}

section>.featured{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

section>.featured>img{
    width: 100%;
    margin-top: 20px;
}
section>.info{
    width: 100%;
    background-color: #ECECEC;
    margin-top: 50px;
}
section>.info>div{
    width: 70%;
    margin: auto;
}
section>.info>div>img{
    width: 100%;
}

/* building footer */

.footer{
    width: 100%;
    background-color: #2BB673;
}
.footer>.inside-footer{
    width: 70%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer>.inside-footer>.details{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;

}
.footer>.inside-footer>.details>div{
    line-height: 20px;
}
.footer>.inside-footer>.details>div h4{
    color: white;
}
.footer>.inside-footer>.details>div p{
    font-size: 11px;
}
.footer>.inside-footer>.details>div:nth-child(4)>div:nth-child(2){
    margin-top: 10px;
}
.footer>.inside-footer>.details>div p>a{
    text-decoration: none;
    color: white;
    opacity: 0.9;
}
.footer>.inside-footer>.copyright{
    text-align: center;
    margin-top: 40px;
}
.footer>.inside-footer>.copyright>p{
    font-size: 10px;
    color: white;
    opacity: 0.9;
}

/* modals */
body{
    position: relative;
}

#login-modal{
    width: 40%;
    position: absolute;
    right: 400px;
    background-color: white;
    z-index: 100;
    top: 200px;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    border-radius: 10px;
}
#login-modal>i{
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}
#login-modal>#img{
    width: 100px;
}
#login-modal>form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    margin: auto;
    gap: 14px;
}
#login-modal>form>input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid;
}
#login-modal>form>input:focus{
    outline: none;
}
#login-modal>form>button{
    padding: 10px;
    width: 50%;
    margin: auto;
    border: none;
    background-color: #2BB673;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}
#login-modal>button{
    font-size: 20px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 50%;
    border: none;
    background-color: #35619F;
    margin-top: 20px;
    cursor: pointer;
}
#login-modal>button>i{
    font-size:20px;
    color: white;
    margin-right: 4px;
}
#login-modal>div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    margin-top: 30px;
}

.log-visible{
    visibility: hidden;
}
.active{
    visibility: visible;
}

/* building signup modal */

#signup-modal{
    width: 40%;
    position: absolute;
    right: 400px;
    background-color: white;
    z-index: 100;
    top: 200px;
    text-align: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
#signup-modal>h2{
    margin-top: 20px;
}
#signup-modal>p{
    margin-top: 10px;
}
#signup-modal>div:nth-child(5){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
#signup-modal>div:nth-child(5):hover{
    background-color: #e6e6e6;
}
#signup-modal>div:nth-child(5)>img{
    width: 150px;
}
#signup-modal>div:nth-child(6)>img{
    width: 120px;
}
#signup-modal>div:nth-child(5)>div{
    margin-left: 10px;
    text-align: justify;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#signup-modal>div:nth-child(5)>div>p{
    font-size: 14px;
    text-align: justify;
}
#signup-modal>div:nth-child(6){
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
#signup-modal>div:nth-child(6):hover{
    background-color: #e6e6e6;
}
#signup-modal>div:nth-child(6)>div{
    margin-left: 10px;
    text-align: justify;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#signup-modal>div:nth-child(6)>div>p{
    font-size: 14px;
}

#signup-modal>div:nth-child(7){
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
#signup-modal>div:nth-child(7)>a{
    font-size: 15px;
    text-decoration: none;
}

#signup-modal>div:nth-child(7)>a:hover{
    text-decoration: underline;
}

#signup-modal>i{
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    padding: 3px;
}

#signup-modal>i:hover{
    background-color: #e6e6e6;
}