@media all and (max-width: 1100px) and (min-width: 601px){
    .container>div:nth-child(2)>form>button{
        width: auto;
    }
    .container>div:nth-child(2)>form>div>textarea{
        width: 70%;
    }
    .container>div:nth-child(2)>form>div>input{
        width: 70%;
    }
    .container>div:nth-child(2)>form>div>select{
        width: 70%;
    }
}

@media all and (max-width:601px) and (min-width:200px){
    .container{
        width: 90%;
        flex-direction: column;
        padding: 0px;
    }
    .container>div:nth-child(1)>div{
        width: 100%;
    }
    .container>div:nth-child(1)>div>img{
        width: 30px;
    }
    .container>div:nth-child(1)>div>h3{
        font-size: 12px;
    }
    .container>div:nth-child(1){
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    /* form */
    .container>div:nth-child(2){
        width: 100%;
        padding: 10px 0px;
    }
    .container>div:nth-child(2) h1{
        font-size: 20px;
    }
    .container>div:nth-child(2) p{
        font-size: 10px;
        width: 80%;
        margin: auto;
    }
    .container>div:nth-child(2)>form>div>input{
        width: 70%;
    }
    .container>div:nth-child(2)>form>div>select{
        width: 70%;
    }
    .container>div:nth-child(2)>form>button{
        width: auto;
    }
    .container>div:nth-child(2)>form>div>textarea{
        width: 70%;
    }
}